node_modules/
*.tsbuildinfo
.env
.env.local
.DS_Store
.vscode/
.idea/
src/
nodes/**/*.ts
credentials/**/*.ts
!nodes/**/*.d.ts
!credentials/**/*.d.ts
.github/
tsconfig.json
gulpfile.js
.eslintrc*
.prettierrc*
.editorconfig
